@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Rubik:wght@300..900&family=Sora:wght@100..800&family=Syne:wght@400..800&display=swap');

//   font-family: "Syne", sans-serif;
//   font-family: "Rubik", sans-serif;
//   font-family: "Inter", sans-serif;
//   font-family: "Sora", sans-serif;

h1, h2, h3{
  font-family: "Syne", sans-serif;
}
h1{
  font-weight: bold;
  font-size: 72px;
}
h2{
  font-size: 64px;
}
h3{
  font-size: 56px;
}

h4{
  font-family: "Rubik", sans-serif;
  font-size: 24px;
}

p{
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}
.p--large{
  font-size: 18px;
}

a{
  font-family: "Rubik", sans-serif;
  font-size: 14px;
  color: #FFFFFF;
  opacity: .5;
  text-decoration: none;
  text-transform: uppercase;
}

body{
  background-color: var(--secondary-color1);
}

.common-button {
  border-radius: 1000px;
  width: auto;
  //height: 47px;
  cursor: pointer;
  border: none;
  text-wrap: nowrap;
  opacity: 1;
    

  font: {
    family: "Rubik", sans-serif;;
    size: 14px;
    weight: bold;
  }
    
  &--black {
    padding: 13px 34px;
    background-color: #030304;
    border: 2px solid rgba(255,255,255,.3);
    opacity: .8;
    text-transform: uppercase;
  }

  &--orange{
    background-color: var(--brand-color);
  }

  &--transparent {
    background-color: transparent;
  }

  &--orange-border {
    border: 2px solid var(--brand-color);
  }

  &--with-arrow {
    display: flex;
    justify-content: space-between;
    align-items: center;

    img{
      width: 16px;
      height: 10px; 
      background-color: transparent;
    }
  }
}

.menu {
		&__list {
			height: 100%;
			width: 100%;

			display: flex;
			justify-content: space-between;
		}

		&__item {
			text-wrap: nowrap;
			display: flex;
			align-items: center;
		}
}

