@use '../helpers/' as *;

.footer{
  --line-height: #{rem(4)};
  --line-gap: #{rem(10)};

  &__container{
    width: 100%;
    max-width: none;
    margin-inline: 0;
    margin-top: rem(40);
    padding-top: rem(10);

    background-color: var(--color-dark-20);
    border-radius: 10px 10px 0 0;
  }

  &__links{
    width: var(--small-width);
    justify-self: center;
    padding-bottom: rem(8);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: start;
    flex-wrap: wrap;
  }

  &__link-wrapper{
    background-color: var(--color-gray-60);
    padding: 8px 16px;
    border: 3px solid var(--color-black);

    color: var(--color-black);
    font-weight: 900;
  }



  &__lines{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    height: calc(3 * var(--line-height) + 5 * var(--line-gap));
  }

  &__line{
    width: var(--small-width);
    height: rem(4);
    background-color: var(--color-gray-50);
  }
}