@use '../helpers/' as *;

.hero {
  height: 100vh;
  height: 100dvh;
  background-color: #ff4500;
  z-index: 4;

  &__wrapper {
    padding-left: var(--offset-addition);
    padding-bottom: 10vmin;
    height: 100%;
    width: var(--small-width);
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
  }

  &__container {
    height: 95vh;
    height: 95dvh;
    //padding-top: 30%;
    padding-bottom: 0;
    position: relative;
    margin: 0;
    z-index: 4;

    &::after {
      position: absolute;
      display: block;
      background-color: var(--color-gray-50);
      width: calc(100% - 2 * var(--offset-addition));
      height: var(--line-height);
      left: var(--offset-addition);
      bottom: 0;
      //content: "";
    }
  }

  &__title {
    width: min-content;
    transition: width 1s ease-in-out;

    border-radius: 20px;
    padding: 10px 20px;
    background-color: var(--color-dark-15);
    background-color: #ff4500;

    margin-bottom: 3vmin;

    --scale: 0;

    html.font-loaded & {
      box-shadow:
        calc(var(--scale) / 5 * 2px) calc(var(--scale) / 5 * 2px) calc(var(--scale) / 5 * 5px) 0px #ffffff77 inset,

        calc(var(--scale) * -1px) calc(var(--scale) * -1px) calc(var(--scale) * 3px) rgba(0, 0, 0, 0.08),

        calc(var(--scale) * 2px) calc(var(--scale) * 2px) calc(var(--scale) * 5px) rgba(0, 0, 0, 0.15),

        calc(var(--scale) * 10px) calc(var(--scale) * 10px) calc(var(--scale) * 20px) rgba(0, 0, 0, 0.1),

        calc(var(--scale) * 30px) calc(var(--scale) * 30px) calc(var(--scale) * 50px) rgba(0, 0, 0, 0.06),

        calc(var(--scale) * 60px) calc(var(--scale) * 60px) calc(var(--scale) * 100px) rgba(0, 0, 0, 0.03);
    }

    &-word {
      width: max-content;
      height: auto;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: start;
      overflow: hidden;

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }

    &-letter {
      width: auto;
      height: 100%;
      font-size: 10vmin;

      clip-path: polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%);
      animation: title-letter-animation 1 1s .5s forwards;
      animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
      animation-play-state: paused;

      $letters-quantity: 7;
      $elementary-delay: .1s;

      @for $i from 1 through 10 {
        &:nth-of-type(#{$i}) {
          animation-delay: $i * $elementary-delay;
        }
      }

      html.font-loaded & {
        animation-play-state: running;
      }

    }
  }

  &__subtitle {
    background-color: #ff4500;
    display: flex;
    height: min-content;
    width: max-content;
    border-radius: 20px;
    padding: 10px 20px;
    transition: width 1s ease-in-out;

    --shadow-base: rgba(0, 0, 0, 0.15);
    --scale: 0;

    html.font-loaded & {
      box-shadow:
        calc(var(--scale) / 5 * 2px) calc(var(--scale) / 5 * 2px) calc(var(--scale) / 5 * 5px) 0px #ffffff77 inset,

        calc(var(--scale) * -1px) calc(var(--scale) * -1px) calc(var(--scale) * 3px) rgba(0, 0, 0, 0.08),

        calc(var(--scale) * 2px) calc(var(--scale) * 2px) calc(var(--scale) * 5px) rgba(0, 0, 0, 0.15),

        calc(var(--scale) * 10px) calc(var(--scale) * 10px) calc(var(--scale) * 20px) rgba(0, 0, 0, 0.1),

        calc(var(--scale) * 30px) calc(var(--scale) * 30px) calc(var(--scale) * 50px) rgba(0, 0, 0, 0.06),

        calc(var(--scale) * 60px) calc(var(--scale) * 60px) calc(var(--scale) * 100px) rgba(0, 0, 0, 0.03);
    }

    &-word {
      font-size: 7vmin;

      clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 0% 100%);
      animation: subtitle-animation 1 1s forwards;
      animation-timing-function: cubic-bezier(0.45, -0.04, 0.39, 0.97);
      animation-delay: 1.4s;

      animation-play-state: paused;

      html.font-loaded & {
        animation-play-state: running;
      }
    }
  }

  &__bottom{
    position: relative;
    height: 5vmin;
    height: 5vmin;
    width: 100%;
    z-index: 3;

    background: url("../../images/wave4.svg") repeat-x top;
    background-size: auto 100%;
    background-position-y: -1px;
  }
}

@keyframes title-letter-animation {
  0% {
    clip-path: polygon(100% 100%, 100% 100%, 0% 100%, 0% 100%);
    transform: translateY(-100%);
  }

  100% {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
    transform: translateY(0%);
  }

}

@keyframes subtitle-animation {
  0% {
    clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);
  }

  100% {
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 0%);
  }
}