@use '../helpers/' as *;

.hero {
  height: 100vh;
  height: 100dvh;


  &__container {
    height: 100%;
    //padding-top: 30%;
    padding-bottom: var(--line-padding);
    position: relative;
    margin-top: 0;

    &::after {
      position: absolute;
      display: block;
      background-color: var(--color-gray-50);
      width: calc(100% - 2 * var(--offset-addition));
      height: var(--line-height);
      left: var(--offset-addition);
      bottom: 0;
      content: "";
    }
  }

  &__title-wrapper {
    padding-left: var(--offset-addition);
    width: var(--small-width);
    position: absolute;
    bottom: rem(10);

    & * {
      margin: 0;
    }
  }
}