@font-face {
  font-family: 'Bounded';
  src: url('../fonts/Bounded-Black.ttf') format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bounded";
  src: url("../fonts/Bounded-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}