@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.3;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Bounded";
  src: url("../fonts/Bounded-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Bounded";
  src: url("../fonts/Bounded-Variable.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #FFFFFF;
  --color-black: #000000;
  --color-dark: #141414;
  --color-dark-10: #1A1A1A;
  --color-dark-15: #262626;
  --color-dark-20: #4e4e4e;
  --color-dark-40: #696767;
  --color-gray-50: #b7b7b7;
  --color-gray-60: #cecece;
  --color-accent: #FFD11A;
  --color-red: #FF5500;
  --gradient: linear-gradient(45deg,
      var(--color-dark-15) 65%,
      var(--color-accent) 135%);
  --border: 0.0625rem solid var(--color-dark-15);
  --shadow: 0 0 0 0.1875rem #191919;
  --font-family-base: "Bounded", sans-serif;
  --font-family-accent: "Bounded", sans-serif;
  --container-small-offset: 0.9375rem;
  --container-big-offset: 1.75rem;
  --offset-addition: 0.8125rem;
  --container-width: calc(100vw - 2*var(--container-small-offset));
  --small-width: calc(100% - 2 * var(--offset-addition));
  --transition-duration: 0.2s;
  --line-height: 0.25rem;
  --line-padding: 0.3125rem;
}
@media (width < 23.125rem) {
  :root {
    --container-small-offset: 0.3125rem;
    --container-big-offset: 0.875rem;
    --offset-addition: 0.5625rem;
  }
}

.container {
  max-width: var(--container-width);
  margin-inline: auto;
  margin-top: 0.625rem;
}
@media (width > 30.06125rem) {
  .container {
    margin-top: 2.5rem;
  }
}

.section-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 0.9375rem;
}

.text-tile {
  font-weight: 600;
  letter-spacing: 0em;
  display: block;
  background-color: var(--color-dark-40);
  box-sizing: border-box;
  padding: 10px;
  --shadow-offset: 10px;
  width: calc(var(--small-width) - var(--shadow-offset));
  align-self: self-start;
  margin-left: var(--offset-addition);
  box-shadow: var(--shadow-offset) var(--shadow-offset) var(--color-dark-15);
  margin-bottom: var(--shadow-offset);
}
@media (width > 30.06125rem) {
  .text-tile {
    max-width: 80vw;
    justify-self: center;
    align-self: center;
    margin-left: 0;
  }
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

.full-vw-line {
  position: relative;
}
.full-vw-line::before, .full-vw-line::after {
  position: absolute;
  width: calc((100vw - var(--container-width)) / 2);
  height: 0.0625rem;
  background-color: var(--color-dark-15);
}
.full-vw-line--top::before {
  content: "";
  bottom: 100%;
}
.full-vw-line--bottom::after {
  content: "";
  top: 100%;
}
.full-vw-line--left::before, .full-vw-line--left::after {
  right: 100%;
}
.full-vw-line--right::before, .full-vw-line--right::after {
  left: 100%;
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8112745098rem + 0.2614379085vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  letter-spacing: -0.03em;
  color: var(--color-light);
  background-color: var(--color-dark);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
  margin: 0;
}

h1, .h1,
h2, .h2,
h3, .h3 {
  font-family: var(--font-family-accent);
  font-weight: 900;
}

h4, .h4,
h5, .h5,
h6, .h6 {
  font-weight: 900;
}

h1, .h1 {
  font-size: clamp(2.625rem, 2.1789215686rem + 1.8300653595vw, 4.375rem);
  font-size: max(2.25rem, 6vw);
  line-height: 1.2;
}

h2, .h2 {
  font-size: clamp(2rem, 1.5857843137rem + 1.6993464052vw, 3.625rem);
  font-size: max(1.75rem, 5.375vw);
  font-weight: 800;
  line-height: 1.3;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.2450980392rem + 1.045751634vw, 2.5rem);
}

h4, .h4 {
  font-size: clamp(1.125rem, 0.9975490196rem + 0.522875817vw, 1.625rem);
}

h5, .h5 {
  font-size: clamp(1.125rem, 1.0294117647rem + 0.3921568627vw, 1.5rem);
}

h6, .h6 {
  font-size: clamp(1rem, 0.9362745098rem + 0.2614379085vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-accent);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-light);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
  content: "";
}

.header__container {
  height: auto;
  position: relative;
  padding-block: calc(var(--line-padding) + var(--line-height));
}
.header__container::before, .header__container::after {
  position: absolute;
  display: block;
  background-color: var(--color-gray-50);
  width: 100%;
  height: var(--line-height);
  left: 0;
  top: 0;
  content: "";
}
.header__container::after {
  top: unset;
  bottom: 0;
  width: calc(100% - 2 * var(--offset-addition));
  left: var(--offset-addition);
}
.header__logo-wrapper {
  width: 30vw;
  height: auto;
  position: relative;
  left: var(--offset-addition);
}
.header__logo {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo svg {
  width: 100%;
  height: -moz-min-content;
  height: min-content;
  color: var(--color-light);
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__logo svg g {
  display: block;
}

.hero__container {
  height: auto;
  padding-top: 30%;
  padding-bottom: var(--line-padding);
  position: relative;
}
.hero__container::after {
  position: absolute;
  display: block;
  background-color: var(--color-gray-50);
  width: calc(100% - 2 * var(--offset-addition));
  height: var(--line-height);
  left: var(--offset-addition);
  bottom: 0;
  content: "";
}
.hero__title-wrapper {
  padding-left: var(--offset-addition);
  width: var(--small-width);
}
.hero__title-wrapper * {
  margin: 0;
}

.about__container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.about__canvas-album {
  width: var(--small-width);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  gap: 1.875rem;
  margin-bottom: 0.9375rem;
}
@media (width < 50rem) {
  .about__canvas-album {
    gap: 0;
  }
}
.about__canvas-wrapper {
  flex-grow: 1;
  height: 100%;
  width: 100%;
  display: inline-block;
  flex: 1 1 140px;
  min-width: 140px;
  min-height: 200px;
  max-height: 60vh;
  aspect-ratio: 1/1.5;
}
@media (width < 50rem) {
  .about__canvas-wrapper {
    aspect-ratio: 1/1.5;
  }
}
.about__image-wrapper {
  display: block;
  height: 100%;
  width: 100%;
}
.about__image-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cases__container {
  margin-top: 5rem;
}
.cases__album-wrapper {
  width: -moz-min-content;
  width: min-content;
  justify-self: center;
  overflow: visible;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  font-size: clamp(0.1rem, 0.8vw, 7.5rem);
  -moz-column-gap: 2.5rem;
       column-gap: 2.5rem;
  row-gap: 2.5rem;
}
@media (width < 86.25rem) {
  .cases__album-wrapper {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    font-size: clamp(0.8rem, 0.9vw, 7.5rem);
    -moz-column-gap: 2.5rem;
         column-gap: 2.5rem;
    row-gap: 2.5rem;
  }
}
@media (width < 43.75rem) {
  .cases__album-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    font-size: clamp(0.1rem, 2.2 vw, 7.5rem);
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    row-gap: 1.25rem;
  }
}
@media (width < 26.875rem) {
  .cases__album-wrapper {
    margin-top: 1.25rem;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    font-size: clamp(0.1rem, 3.4vw, 7.5rem);
    margin-inline: 2.5rem;
    -moz-column-gap: 0rem;
         column-gap: 0rem;
    row-gap: 2.5rem;
  }
}

.case {
  padding: 2.5rem 0.625rem 1.5625rem 0.625rem;
  min-width: 180px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: 100%;
  aspect-ratio: 1/1.5;
  justify-self: center;
  align-self: center;
  display: grid;
  grid-template-rows: 65% 1fr 2fr;
  border-radius: 10px;
  --transition-duration: 1.2s;
  --transform-function: cubic-bezier(.08, .71, 0, 1);
  --transition-delay: .0s;
  --total-scaling: 0.2;
  scale: calc(0.9 + (var(--animator)) * var(--total-scaling));
  --rotation: 1deg;
  transition: scale 0.1s linear, rotate 0.2s;
}
@media (any-hover: hover) {
  .case:hover {
    animation: caseHoverAnimation 0.6s ease-in-out infinite 0.1s;
  }
}
@media (any-hover: none) {
  .case:active {
    animation: caseHoverAnimation 0.6s ease-in-out infinite 0.1s;
  }
}
@media (hover: none) and (pointer: coarse) {
  .case {
    scale: 1;
    --rotation: 0deg;
  }
}
.case.to-animate-transition {
  transition: scale 0.9s ease-out, rotate 0.2s;
}
@media (width < 86.25rem) {
  .case {
    max-width: 28vw;
  }
}
@media (width < 43.75rem) {
  .case {
    max-width: 40vw;
  }
}
@media (width < 26.875rem) {
  .case {
    max-width: 80vw;
  }
}
.case__image-wrapper {
  display: block;
  height: 75%;
  width: 100%;
}
.case__image-wrapper img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.case__title, .case__description {
  text-align: center;
}
.case__title h4 {
  font-weight: 800;
  letter-spacing: 0.03em;
  font-size: 1.5em;
}

#Blaed {
  background-color: var(--color-light);
  color: var(--color-black);
}
#Blaed span {
  color: var(--color-black);
}

#Positivus {
  background-color: var(--color-light);
  color: var(--color-black);
}
#Positivus span {
  color: var(--color-black);
}

#Nexcent {
  background-color: var(--color-light);
  color: var(--color-black);
}
#Nexcent span {
  color: var(--color-black);
}

#NoTab {
  background: #3F38C7;
  background: linear-gradient(0deg, rgb(63, 56, 199) 12%, rgb(37, 20, 216) 81%);
  color: var(--color-light);
}
#NoTab span {
  color: var(--color-light);
}

#Aaronn {
  background-color: #1a1a1a;
  color: var(--color-light);
}
#Aaronn span {
  color: var(--color-light);
}

#FutureTech {
  background: #1A1A1A;
  background: linear-gradient(180deg, rgb(26, 26, 26) 53%, rgb(99, 99, 99) 100%);
  color: var(--color-light);
}
#FutureTech span {
  color: var(--color-light);
}

@keyframes caseHoverAnimation {
  0% {
    rotate: 0deg;
  }
  25% {
    rotate: calc(-1 * var(--rotation));
  }
  75% {
    rotate: calc(1 * var(--rotation));
  }
  100% {
    rotate: 0deg;
  }
}
.footer {
  --line-height: 0.25rem;
  --line-gap: 0.625rem;
}
.footer__container {
  width: 100%;
  max-width: none;
  margin-inline: 0;
  margin-top: 2.5rem;
  padding-top: 0.625rem;
  background-color: var(--color-dark-20);
  border-radius: 10px 10px 0 0;
}
.footer__links {
  width: var(--small-width);
  justify-self: center;
  padding-bottom: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: start;
  flex-wrap: wrap;
}
.footer__link-wrapper {
  background-color: var(--color-gray-60);
  padding: 8px 16px;
  border: 3px solid var(--color-black);
  color: var(--color-black);
  font-weight: 900;
}
.footer__lines {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: calc(3 * var(--line-height) + 5 * var(--line-gap));
}
.footer__line {
  width: var(--small-width);
  height: 0.25rem;
  background-color: var(--color-gray-50);
}/*# sourceMappingURL=main.css.map */