@use '../helpers/' as *;

.about {
  background-color: var(--about-color);
  z-index: 3;
  margin-top: -1px;
  height: auto;

  --about-min-height: 1141px;

  @include tablet {
    --about-min-height: 1036px;
  }

  @include mobile-s {
    --about-min-height: 830px;
  }

  --about-height: max(100vh, var(--about-min-height));

  height: calc(var(--about-height) + 100vh + 10vh);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  cursor: crosshair;
  position: relative;
  //padding-bottom: 100vh;

  &__title {
    font-size: 8rem;
    justify-content: start;
    margin-top: 1rem;
    //padding-left: 2rem;

    @include tablet {
      font-size: 11vw;
      padding-left: 1vw;
    }
  }

  &__content {
    width: 100%;
    height: auto;

    padding-bottom: 4rem;
  }

  &__container {
    position: relative;
    position: sticky;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 0;
    padding-bottom: 5vh;
  }

  &__canvas-album {
    width: var(--small-width);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: rem(30);

    margin-bottom: rem(15);

    @media (max-width: rem(800)) {
      gap: 0;
    }
  }

  &__canvas-wrapper {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    display: inline-block;
    flex: 1 1 140px;
    min-width: 140px;
    min-height: 200px;
    max-height: 60vh;
    aspect-ratio: 1/1.5;

    @media (max-width: rem(800)) {
      aspect-ratio: 1/1.5;
    }
  }

  &__image-wrapper {
    display: block;
    height: 100%;
    width: 100%;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }
  }

  &__advantages-block {
    width: 100%;
    height: 100%;

    &-space {
      position: relative;
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;

      & .about__advantages-block-item:nth-child(1) {
        //transform: translateX(20vw);
        align-self: flex-end;

        @include tablet {
          transform: none;
        }
      }

      & .about__advantages-block-item:nth-child(2) {
        transform: translateX(0vw);

        @include tablet {
          transform: none;
        }
      }

      & .about__advantages-block-item:nth-child(3) {
        //transform: translateX(-20vw);
        align-self: flex-start;

        @include tablet {
          transform: none;
        }
      }



    }

    &-item {
      //position: absolute;
      position: relative;
      width: auto;
      max-width: 100%;
      height: auto;
      //cursor: default;
      padding: 1rem;
      border-radius: 20px;


      border: 1px solid;
      border-color: #00000044;

      transition:
        background-color .5s ease-in-out,
        border-color .5s ease-in-out;

      &:hover {
        transition:
          background-color .5s ease-in-out,
          border-color .5s ease-in-out;

        background-color: #67C967;
        //border-color: #00000000;

        .about__advantages-block-item-cover {
          opacity: 0;
        }

        .about__advantages-block-item-content {
          opacity: 1;

          & .about__advantages-block-item-line-wrapper {
            & p {
              transition:
                clip-path .4s ease-out,
                transform .4s ease-out;
              clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
              transform: translateY(0%);
            }

            $one-delay: 0.04s;

            @for $i from 0 to 8 {
              &:nth-child(#{$i}) p {
                transition-delay: $i * $one-delay;
              }
            }

          }
        }

        .about__advantages-block-item-heading-wrapper {
          transition: clip-path .5s cubic-bezier(.45, 0, .55, 1);
          clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 0%);
        }


      }

      &-cover {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        align-content: center;

        transition: opacity .5s ease-in-out;

        & h4 {
          font-size: 2rem;
          font-weight: 800;
        }
      }

      &-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: 1rem;

        //transition: opacity .5s ease-in-out;

        opacity: 1;

        & p {
          font-size: 1.4rem;
          margin: 0;
          display: block;
          text-wrap: nowrap;

          clip-path: polygon(100% 0%, 100% 0%, 0% 0%, 0% 0%);
          transform: translateY(100%);
        }


        & .about__advantages-block-item-line-wrapper {
          display: block;
          overflow: hidden;

          & p {
            transition:
              clip-path .4s ease-out,
              transform .4s ease-out;
          }

          $one-delay: 0.04s;

          @for $i from 0 to 8 {
            &:nth-child(#{$i}) p {
              transition-delay: $i * $one-delay;
            }
          }
        }



        .about__advantages-block-item-heading-wrapper {
          justify-self: start;
          align-self: flex-start;

          transition: clip-path .5s cubic-bezier(.45, 0, .55, 1);
          clip-path: polygon(0% 0%, 0% 100%, 0% 100%, 0% 0%);

          & h4 {
            font-size: 1.1rem;
            font-weight: 700;
            text-decoration: underline;
          }
        }

      }

      @include tablet {
        & .about__advantages-block-item-cover h4 {
          font-size: 3vmin;
          font-size: 1.9rem;
        }

        & .about__advantages-block-item-content p {
          font-size: 2.3vmin;
          font-size: 1.2rem;
        }

        & .about__advantages-block-item-heading-wrapper h4 {
          font-size: 1.8vmin;
          font-size: 1rem;
        }
      }

      @include mobile-s {
        & .about__advantages-block-item-content p {
          font-size: .9rem;
        }

        & .about__advantages-block-item-heading-wrapper h4 {
          font-size: .8rem;
        }
      }
    }

  }
}